<div class="content">
  <label for="time-span">Time span</label>
  <input
    type="number"
    name="time-span"
    id="time-span"
    [(ngModel)]="timeSpan"
    (change)="onTimeSpanChange()"
    [disabled]="inProgress"
  />
  <label for="field-size">Field size</label>
  <input
    type="number"
    name="field-size"
    id="field-size"
    [(ngModel)]="gridSize"
    (change)="onGridSizeChange()"
    [disabled]="inProgress"
  />
  <button *ngIf="!inProgress" (click)="onStart()">Start</button>
  <button *ngIf="inProgress" (click)="onReset()">Reset</button>
</div>
